<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 d-none d-lg-block pt-5">
        <p class="m-2">Garage V.Parrot</p>
        <p class="m-2">1 Allée Gabriel Biénès</p>
        <p class="m-2">31000 Toulouse</p>
        <p class="m-2">Tél. : 06 XX XX XX XX</p>
        <p class="m-2">@ : garage@parrot.fr</p>
      </div>

      <div id="schedules-box" class="col-lg-4 text-center p-0">
        <h4 class="text-decoration-underline mb-4">Horaires d'ouvertures</h4>
        {% for schedule in schedules %}
          <p class="m-1">{{ schedule.day }} : {{ schedule.text }}</p>
        {% endfor %}
      </div>
      
      <div class="col-lg-4 d-none d-lg-flex justify-content-end">
        <div class="mt-5" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
          <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
        </div>
      </div>
    </div>

    <div class="row mt-4 text-center">
      <div class="col-12">
        <a href="{{ path('home.index') }}" class="mx-1 link">Politique de confidentialité</a>
        <span class ="fw-bold">|</span>
        <a href="{{ path('home.index') }}" class="mx-1 link">Mentions légales</a>
        <span class ="fw-bold">|</span>
        <a href="{{ path('messages.create') }}" class="mx-1 link">Nous contacter</a>
      </div>
    </div>
    <p class="mb-0 mt-1 fw-bolder text-white text-center copyright">&#169; 2023 Garage V.Parrot</p>
  </div>
</footer>

