{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block body %}
<div class="container mt-5">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <!-- Première diapositive -->
      <div class="carousel-item height-70 active">
        <div class="carousel-content custom-car-carousel">
          <img src="{{ asset('assets/img/voitures/{{picture.car}}') }}">
        </div>
      </div>
      <!-- Diapositives supplémentaires avec contenu dynamique -->
      <div class="carousel-item height-70">
        <div class="carousel-content custom-car-carousel">
          <img src="{{ asset('assets/img/voitures/{{picture.car}}') }}">
        </div>
      </div>

      <div class="carousel-item height-70">
        <div class="carousel-content custom-car-carousel">
          <img src="{{ asset('assets/img/voitures/{{picture.car}}') }}">
        </div>
      </div>

      <div class="carousel-item height-70">
        <div class="carousel-content custom-car-carousel">
          <img src="{{ asset('assets/img/voitures/{{picture.car}}') }}">
        </div>
      </div>
    </div>
    <!-- Contrôles du carrousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon button-c" aria-hidden="true"></span>
      <span class="visually-hidden">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon button-c" aria-hidden="true"></span>
      <span class="visually-hidden">Suivant</span>
    </button>
  </div>
</div>
<div class="container m-5">
  <div class="row">
    <div class="col car-title">
      <h2>{{car.title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="car-text">{{car.brand}} ● {{car.year}} ● {{car.mileage}}km ● {{car.motorTechnologie}} ● 
      {{car.puissanceDin}}ch ● {{car.puissanceFiscale}}CV ● {{ (car.isAutomatically == true) ? 'Automatique' : 'Manuelle' }}</p>
      <p class="car-price">Prix : {{car.price}}€</p>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center h1 h1-border pb-3">● Demandez-nous plus d'informations ●</h1>
    <form class="contact-form row g-3 fs-4 mt-4 form-p">
      <div class="col-md-6">
        <label for="lastname" class="form-label">Nom</label>
        <input type="text" class="form-control" maxlength="50" placeholder="Nom">
      </div>
      <div class="col-md-6">
        <label for="firstname" class="form-label">Prénom</label>
        <input type="text" class="form-control" maxlength="50" placeholder="Prénom">
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" maxlength="255" placeholder="example@example.fr">
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">Téléphone</label>
        <input type="text" class="form-control" maxlength="20" placeholder="0600000000">
      </div>
      <div class="col-12">
        <label for="subject" class="form-label">Sujet</label>
        <input type="text" class="form-control" maxlength="20" disabled value={{car.title}}>
      </div>
      <div class="col-12">
        <label for="comment" class="form-label">Commentaire</label>
        <textarea type="text" class="form-control" id="area255" rows="5" placeholder="Max 255 caractères"></textarea>
        <p id="lengthValue255">0 / 255 caractères</p>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <button type="submit" class="btn button-p fs-3 fw-medium">Soumettre le formulaire</button>
      </div>
    </form>   
  </div>
</div>
<script src="{{ asset('assets/javascript/updateDivHeight.js') }}"></script>
<script src="{{ asset('assets/javascript/limitCharacters255.js') }}"></script>
{% endblock %}