{% extends 'base.html.twig' %}

{% block title %}Nos occasion{% endblock %}

{% block body %}
    <main>
        <div class="container mt-5">
            <h1 class="text-center mx-5 mb-5 h1">Nos voitures d'occasion</h1>
            <!-- Bouton Filtres -->
            <button id="toggleFiltersBtn" class="btn button-p">Ξ Filtres</button>
            <!-- Filters for year, mileage, and price -->
            <!-- Year -->
            <div id="filters" class="row my-3 justify-content-center">
                <div class="col-md-3 mt-3 mx-1">
                    <label for="yearMin" class="form-label">Année min</label>
                    <input type="number" class="form-control" id="yearMin">
                </div>
                <div class="col-md-3 mt-3 mx-1">
                    <label for="yearMax" class="form-label">Année max</label>
                    <input type="number" class="form-control" id="yearMax">
                </div>
                <!-- Km -->
                <div class="col-md-3 mt-3 mx-1">
                    <label for="kmMin" class="form-label">Kilométrage min</label>
                    <input type="number" class="form-control" id="kmMin">
                </div>
                <div class="col-md-3 mt-3 mx-1">
                    <label for="kmMax" class="form-label">Kilométrage max</label>
                    <input type="number" class="form-control" id="kmMax">
                </div>
                <!-- Price -->
                <div class="col-md-3 mt-3 mx-1">
                    <label for="priceMin" class="form-label">Prix min</label>
                    <input type="number" class="form-control" id="priceMin">
                </div>
                <div class="col-md-3 mt-3 mx-1">
                    <label for="priceMax" class="form-label">Prix max</label>
                    <input type="number" class="form-control" id="priceMax">
                </div>
            </div>
            <!-- Car cards -->
            <div class="row justify-content-around">
                <!-- Replace with data from your backend -->
                {# {% for car in cars %} #}
                <div class="col-md-5 my-3 p-0 card">
                    <img src="{{ asset('assets/img/voitures/voiture-1-1.jpg') }}" class="card-img-top w-100 img-fluid m-0 p-0 dynamic-height" alt="Car Image">
                    <div class="card-body">
                        <p class="card-title text-center fs-4">Golf VII GTI</p>
                        <p class="card-text text-center">marque : Volkswagen</p>
                        <p class="card-price text-center fs-4">27000€</p>
                        <p class="card-text text-center">Année: 2022</p>
                        <p class="card-text text-center">24000km</p>
                        <a href="" class="btn button-p d-block">Plus de détails</a>
                    </div>
                </div>
                <div class="col-md-5 my-3 p-0 card">
                    <img src="{{ asset('assets/img/voitures/voiture-1-2.jpg') }}" class="card-img-top w-100 img-fluid m-0 p-0 dynamic-height" alt="Car Image">
                    <div class="card-body">
                        <p class="card-title text-center fs-4">Golf VII GTI</p>
                        <p class="card-text text-center">marque : Volkswagen</p>
                        <p class="card-price text-center fs-4">27000€</p>
                        <p class="card-text text-center">Année: 2022</p>
                        <p class="card-text text-center">24000km</p>
                        <a href="" class="btn button-p d-block">Plus de détails</a>
                    </div>
                </div>
                <div class="col-md-5 my-3 p-0 card">
                    <img src="{{ asset('assets/img/voitures/voiture-1-3.jpg') }}" class="card-img-top w-100 img-fluid m-0 p-0 dynamic-height" alt="Car Image">
                    <div class="card-body">
                        <p class="card-title text-center fs-4">Golf VII GTI</p>
                        <p class="card-text text-center">marque : Volkswagen</p>
                        <p class="card-price text-center fs-4">27000€</p>
                        <p class="card-text text-center">Année: 2022</p>
                        <p class="card-text text-center">24000km</p>
                        <a href="" class="btn button-p d-block">Plus de détails</a>
                    </div>
                </div>
                <div class="col-md-5 my-3 p-0 card">
                    <img src="{{ asset('assets/img/voitures/voiture-2-1.jpg') }}" class="card-img-top w-100 img-fluid m-0 p-0 dynamic-height" alt="Car Image">
                    <div class="card-body">
                        <p class="card-title text-center fs-4">Golf VII GTI</p>
                        <p class="card-text text-center">marque : Volkswagen</p>
                        <p class="card-price text-center fs-4">27000€</p>
                        <p class="card-text text-center">Année: 2022</p>
                        <p class="card-text text-center">24000km</p>
                        <a href="" class="btn button-p d-block">Plus de détails</a>
                    </div>
                </div>
                <div class="col-md-5 my-3 p-0 card">
                    <img src="{{ asset('assets/img/voitures/voiture-3-1.jpg') }}" class="card-img-top w-100 img-fluid m-0 p-0 dynamic-height" alt="Car Image">
                    <div class="card-body">
                        <p class="card-title text-center fs-4">Golf VII GTI</p>
                        <p class="card-text text-center">marque : Volkswagen</p>
                        <p class="card-price text-center fs-4">27000€</p>
                        <p class="card-text text-center">Année: 2022</p>
                        <p class="card-text text-center">24000km</p>
                        <a href="" class="btn button-p d-block">Plus de détails</a>
                    </div>
                </div>
                <div class="col-md-5 my-3 p-0 card">
                    <img src="{{ asset('assets/img/voitures/voiture-4-1.jpg') }}" class="card-img-top w-100 img-fluid m-0 p-0 dynamic-height" alt="Car Image">
                    <div class="card-body">
                        <p class="card-title text-center fs-4">Golf VII GTI</p>
                        <p class="card-text text-center">marque : Volkswagen</p>
                        <p class="card-price text-center fs-4">27000€</p>
                        <p class="card-text text-center">Année: 2022</p>
                        <p class="card-text text-center">24000km</p>
                        <a href="" class="btn button-p d-block">Plus de détails</a>
                    </div>
                </div>
                {# {% endfor %} #}
            </div>
        </div>
    </main>
{% endblock %}
