{% extends 'base.html.twig' %}

{% block title %}Admin - Voitures{% endblock %}

{% block body %}

{% include "partials/_header-admin.html.twig" %}

  <div class="container mt-4">
    <form class="car-form" id="adminForm">
      <div class="row mb-4">
        <div class="col-md-12">
          <label for="titre" class="form-label">Titre de l'annonce</label>
          <input type="text" class="form-control" maxlength="50">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 first-input">
          <label for="brand" class="form-label">Marque du véhicule</label>
          <select class="form-select">
            <option selected disabled>Sélectionner</option>
            <option>Brand</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="price" class="form-label">Prix en €</label>
          <input type="number" class="form-control" maxlength="11">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 first-input">
          <label for="year" class="form-label">Année</label>
          <input type="number" class="form-control" maxlength="11">
        </div>
        <div class="col-md-6">
          <label for="mileage" class="form-label">Kilométrage</label>
          <input type="number" class="form-control" maxlength="11">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 first-input">
          <label for="motorTechnologie" class="form-label">Carburation</label>
          <select class="form-select">
            <option selected disabled>Sélectionner</option>
            <option>motorTechnologie</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="puissanceDin" class="form-label">Puissance DIN</label>
          <input type="number" class="form-control" maxlength="11" placeholder="Ch">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 first-input">
          <label for="puissanceFiscale" class="form-label">Puissance Fiscale</label>
          <input type="number" class="form-control" maxlength="11" placeholder="CV">
        </div>
        <div class="col-md-6">
          <label for="isAutomatically" class="form-label">Boîte de vitesse</label>
          <select class="form-select">
            <option selected disabled>Sélectionner</option>
            <option>Manuelle</option>
            <option>Automatique</option>
          </select>
        </div>
      </div>
      <div class="row mb-4">
        <div class="select-image col-md-12">
          <label for="imageCarInput" class="my-auto text-center" id="customFileLabel">
            Choisir l'image principale
          </label>
          <input type="file" id="imageCarInput" name="image" accept=".jpg, .jpeg, .png">
          <div id="imageCarPreview"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="select-image col-md-12">
          <label for="imagesCarInput" class="my-auto text-center" id="customFileLabel">
            Choisir trois autres images
          </label>
          <input type="file" id="imagesCarInput" name="image" accept=".jpg, .jpeg, .png" multiple>
          <div class="images-preview d-flex justify-content-around flex-wrap"></div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-around col-md-12">
          <div>
            <button class="btn-update btn btn-sm">Modifier</button>
          </div>
          <div>
            <button class="btn-create btn btn-sm">Créer</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="car-list mt-4 table-responsive">
    <table class="table d-none d-lg-table">
      <!-- Entête du tableau -->
      <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Marque</th>
          <th scope="col">Prix</th>
          <th scope="col">Année</th>
          <th scope="col">KM</th>
          <th scope="col">Carburation</th>
          <th scope="col">Type</th>
          <th scope="col">Fiscale</th>
          <th scope="col">Din</th>
          <th scope="col">Photos</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <!-- Contenu du tableau -->
      <tbody>
      {%for car in cars %}
        <tr>
          <td>{{car.title}}</td>
          <td>{{car.brand}}</td>
          <td>{{car.price}}€</td>
          <td>{{car.year}}</td>
          <td>{{car.mileage}}km</td>
          <td>{{car.motorTechnologie}}</td>
          <td>{{ (car.isAutomatically == true) ? 'Automatique' : 'Manuelle' }}</td>
          <td>{{car.puissanceFiscale}}CV</td>
          <td>{{car.puissanceDin}}ch</td>
          <td>
          {%for picture in pictures.car%}
            <img class="car-image" src="{{ asset('assets/img/voitures/{{picture}}') }}">
          {%endfor%}
          </td>
          <td>
            <button class="btn-delete"><i class="fas fa-trash-alt"></i></button>
            <button class="btn-edit"><i class="fas fa-edit"></i></button>
          </td>
        </tr>
      {%endfor%}
      </tbody>
    </table>
    <!-- Pour les écrans plus petits -->
    <div class="card-deck d-lg-none">
    {%for car in cars %}
      <div id="carCard" class="card">
        <div class="card-body">
          <div class="d-flex justify-content-around mb-2">
            <h5 class="card-title">{{car.title}}</h5>
            <p class="card-text">Marque: {{car.brand}}</p>
          </div>
          <div class="d-flex justify-content-around mb-2">
            <p class="card-title">Prix: {{car.price}}€</p>
            <p class="card-text">Année: {{car.year}}</p>
            <p class="card-text">KM: {{car.mileage}}km</p>
          </div>
          <div class="d-flex justify-content-around mb-2">
            <p class="card-text">{{car.motorTechnologie}}</p>
            <p class="card-text">{{ (car.isAutomatically == true) ? 'Automatique' : 'Manuelle' }}</p>
            <p class="card-text">Fiscale: {{car.puissanceFiscale}}CV</p>
            <p class="card-text">DIN: {{car.puissanceDin}}ch</p>
          </div>
          <div class="d-flex flex-colum justify-content-around">
            <div class="mt-2 me-2">
            {%for picture in pictures.car%}
                <img class="car-image" src="{{ asset('assets/img/voitures/{{picture}}') }}">
            {%endfor%}
            </div>
            <div class="d-flex flex-column justify-content-center">
              <div class="mb-2">
                <button class="btn-edit btn btn-sm"><i class="fas fa-edit"></i></button>
              </div>
              <div>
                <button class="btn-delete btn btn-sm"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {%endfor%}
    </div>
  </div>

  <script src="{{ asset('assets/javascript/carPreview.js') }}"></script>
  <script src="{{ asset('assets/javascript/updateImageHeight.js') }}"></script>
{% endblock %}