{% extends 'base.html.twig' %}

{% block title %}Admin - Voitures{% endblock %}

{% block body %}

{% include "partials/_header-admin.html.twig" %}

  <div class="container mt-4">
    <form class="car-form create-car-form" id="adminForm" method="POST" action="{{ path('voitures.create') }}" enctype="multipart/form-data">
      <div class="row mb-4">
        <div class="col-md-12">
          <label for="title" class="form-label">Titre de l'annonce</label>
          <input type="text" name="title" class="form-control" maxlength="50" required>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 first-input">
          <label for="brand" class="form-label">Marque du véhicule</label>
          <select name="brand" class="form-select" required>
            <option selected disabled>Sélectionner</option>
            {% for brand in brands %}
              <option value="{{ brand.id }}">{{ brand.property }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <label for="price" class="form-label">Prix en €</label>
          <input type="number" name="price" class="form-control" maxlength="11" required>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 first-input">
          <label for="year" class="form-label">Année</label>
          <input type="number" name="year" class="form-control" maxlength="11" required>
        </div>
        <div class="col-md-6">
          <label for="mileage" class="form-label">Kilométrage</label>
          <input type="number" name="mileage" class="form-control" maxlength="11" required>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 first-input">
          <label for="motorTechnologie" class="form-label">Carburation</label>
          <select class="form-select" name="motorTechnologie" required>
            <option selected disabled>Sélectionner</option>
            {% for motorTech in motorTechnologies %}
              <option value="{{ motorTech.id }}">{{ motorTech.property }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <label for="puissanceDin" class="form-label">Puissance DIN</label>
          <input type="number" name="puissanceDin" class="form-control" maxlength="11" placeholder="Ch" required>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 first-input">
          <label for="puissanceFiscale" class="form-label">Puissance Fiscale</label>
          <input type="number" name="puissanceFiscale" class="form-control" maxlength="11" placeholder="CV" required>
        </div>
        <div class="col-md-6">
          <label for="isAutomatically" class="form-label">Boîte de vitesse</label>
          <select name="isAutomatically" class="form-select">
            <option value="0">Manuelle</option>
            <option value="1">Automatique</option>
          </select>
        </div>
      </div>
      <div class="row mb-4">
          <div class="col-md-12 select-image">
              <div id="dropZoneSingle" class="drop-zone">
                  <span>Glisser l'image principale ici ou cliquer pour sélectionner</span>
              </div>
              <input type="file" name="primaryImageCarInput" id="primaryImageCarInput" style="display: none;">
              <div id="imageCarPreview" class="images-preview"></div>
          </div>
      </div>
      <div class="row mb-4">
          <div class="col-md-12 select-image">
              <div id="dropZoneMultiple" class="drop-zone">
                  <span>Glisser trois autres images ici ou cliquer pour sélectionner</span>
              </div>
              <input type="file" name="imagesCarInput[]" id="imagesCarInput" multiple style="display: none;">
              <div id="imagesCarPreview" class="images-preview"></div>
          </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-around col-md-12">
          <div>
            <button class="btn-stop btn btn-sm">Annuler</button>
          </div>
          <div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('create-car-form') }}">
            <button type="submit" class="btn-create btn btn-sm">Créer</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="admin-list mt-4 table-responsive">
    <table class="table d-none d-lg-table">
      <!-- Entête du tableau -->
      <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Marque</th>
          <th scope="col">Prix</th>
          <th scope="col">Année</th>
          <th scope="col">KM</th>
          <th scope="col">Carburation</th>
          <th scope="col">Type</th>
          <th scope="col">Fiscale</th>
          <th scope="col">Din</th>
          <th scope="col">Photos</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <!-- Contenu du tableau -->
      <tbody>
      {% for car in cars %}
        <tr>
          <td>{{car.title}}</td>
          <td>{{car.brand.property}}</td>
          <td>{{car.price}}€</td>
          <td>{{car.year}}</td>
          <td>{{car.mileage}}km</td>
          <td>{{car.motorTechnologie.property}}</td>
          <td>{{ (car.isAutomatically == true) ? 'Automatique' : 'Manuelle' }}</td>
          <td>{{car.puissanceFiscale}}CV</td>
          <td>{{car.puissanceDin}}ch</td>
          <td>
            {% for picture in car.pictures|filter(picture => picture.isPrimary) %}
                <img class="car-image" src="{{ asset('assets/img/uploads/' ~ picture.picture) }}" alt="Image principale de {{ car.title }}">
            {% endfor %}
            {% for picture in car.pictures|filter(picture => not picture.isPrimary) %}
                <img class="car-image" src="{{ asset('assets/img/uploads/' ~ picture.picture) }}" alt="Image secondaire de {{ car.title }}">
            {% endfor %}
          </td>
          <td>
            <form action="{{ path('voitures.delete', {'id': car.id}) }}" method="post">
              <button type="submit" class="btn-delete"><i class="fas fa-trash-alt"></i></button>
            </form>
            <button class="btn-edit" onclick="location.href='{{ path('voitures.edit', {'id': car.id}) }}'"><i class="fas fa-edit"></i></button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <!-- Pour les écrans plus petits -->
    <div class="card-deck d-lg-none">
    {% for car in cars %}
      <div id="carCard" class="card">
        <div class="card-body">
          <div class="d-flex justify-content-around mb-2">
            <h5 class="card-title">{{car.title}}</h5>
            <p class="card-text">Marque: {{car.brand.property}}</p>
          </div>
          <div class="d-flex justify-content-around mb-2">
            <p class="card-title">Prix: {{car.price}}€</p>
            <p class="card-text">Année: {{car.year}}</p>
            <p class="card-text">KM: {{car.mileage}}km</p>
          </div>
          <div class="d-flex justify-content-around mb-2">
            <p class="card-text">{{car.motorTechnologie.property}}</p>
            <p class="card-text">{{ (car.isAutomatically == true) ? 'Automatique' : 'Manuelle' }}</p>
            <p class="card-text">Fiscale: {{car.puissanceFiscale}}CV</p>
            <p class="card-text">DIN: {{car.puissanceDin}}ch</p>
          </div>
          <div class="d-flex flex-colum justify-content-around">
            <div class="mt-2 me-2 text-center">
            {% for picture in car.pictures|filter(picture => picture.isPrimary) %}
                <img class="car-image" src="{{ asset('assets/img/uploads/' ~ picture.picture) }}" alt="Image principale de {{ car.title }}">
            {% endfor %}
            {% for picture in car.pictures|filter(picture => not picture.isPrimary) %}
                <img class="car-image" src="{{ asset('assets/img/uploads/' ~ picture.picture) }}" alt="Image secondaire de {{ car.title }}">
            {% endfor %}
            </div>
            <div class="d-flex flex-column justify-content-center">
              <div class="mb-2">
                <button class="btn-edit btn btn-sm" onclick="location.href='{{ path('voitures.edit', {'id': car.id}) }}'"><i class="fas fa-edit"></i></button>
              </div>
              <div>
                <form action="{{ path('voitures.delete', {'id': car.id}) }}" method="post">
              <button type="submit" class="btn-delete btn btn-sm"><i class="fas fa-trash-alt"></i></button>
            </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

  <script src="{{ asset('assets/javascript/carImagesValidation.js') }}"></script>
  <script src="{{ asset('assets/javascript/carPreview.js') }}"></script>
  <script src="{{ asset('assets/javascript/deleteConfirm.js') }}"></script>
{% endblock %}