{% extends 'base.html.twig' %}

{% block title %}Voitures - Modifier{% endblock %}

{% block body %}

{% include "partials/_header-admin.html.twig" %}

  <div class="container mt-4">
    <form class="car-form edit-car-form" id="adminForm" method="POST" action="{{ path('voitures.edit', {'id': car.id}) }}" enctype="multipart/form-data">
      <div class="row mb-4">
        <div class="col-md-12">
          <label for="title" class="form-label">Titre de l'annonce</label>
          <input type="text" name="title" class="form-control" maxlength="50" value="{{ car.title }}">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 first-input">
          <label for="brand" class="form-label">Marque du véhicule</label>
          <select name="brand" class="form-select">
            {% for brand in brands %}
              <option value="{{ brand.id }}" {% if brand.id == car.brand.id %}selected{% endif %}>{{ brand.property }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <label for="price" class="form-label">Prix en €</label>
          <input type="number" name="price" class="form-control" maxlength="11" value="{{ car.price }}">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 first-input">
          <label for="year" class="form-label">Année</label>
          <input type="number" name="year" class="form-control" maxlength="11" value="{{ car.year }}">
        </div>
        <div class="col-md-6">
          <label for="mileage" class="form-label">Kilométrage</label>
          <input type="number" name="mileage" class="form-control" maxlength="11" value="{{ car.mileage }}">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 first-input">
          <label for="motorTechnologie" class="form-label">Carburation</label>
          <select class="form-select" name="motorTechnologie">
            {% for motorTech in motorTechnologies %}
              <option value="{{ motorTech.id }}" {% if motorTech.id == car.motorTechnologie.id %}selected{% endif %}>{{ motorTech.property }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <label for="puissanceDin" class="form-label">Puissance DIN</label>
          <input type="number" name="puissanceDin" class="form-control" maxlength="11" placeholder="Ch" value="{{ car.puissanceDin }}">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 first-input">
          <label for="puissanceFiscale" class="form-label">Puissance Fiscale</label>
          <input type="number" name="puissanceFiscale" class="form-control" maxlength="11" placeholder="CV" value="{{ car.puissanceFiscale }}">
        </div>
        <div class="col-md-6">
          <label for="isAutomatically" class="form-label">Boîte de vitesse</label>
          <select name="isAutomatically" class="form-select">
            <option value="0" {% if car.isAutomatically == false %}selected{% endif %}>Manuelle</option>
            <option value="1" {% if car.isAutomatically == true %}selected{% endif %}>Automatique</option>
          </select>
        </div>
      </div>
      <div class="row mb-4">
          <div class="col-md-12 select-image">
            <div id="dropZoneSingle" class="drop-zone">
              <span>Glisser l'image principale ici ou cliquer pour sélectionner</span>
            </div>
            <input type="file" name="primaryImageCarInput" id="primaryImageCarInput" style="display: none;">
            <div id="imageCarPreview" class="images-preview">
              {% for picture in car.pictures|filter(picture => picture.isPrimary) %}
                <div class="img-container">
                  <img src="{{ asset('assets/img/uploads/' ~ picture.picture) }}" class="car-image-primary">
                  <button class="cross-btn" data-image-id="{{ picture.id }}">❌</button>
                </div>
              {% endfor %}
            </div>
          </div>
      </div>
      <div class="row mb-4">
          <div class="col-md-12 select-image">
            <div id="dropZoneMultiple" class="drop-zone">
              <div class="current-secondary-images">
              </div>
              <span>Glisser trois autres images ici ou cliquer pour sélectionner</span>
            </div>
            <input type="file" name="imagesCarInput[]" id="imagesCarInput" multiple style="display: none;">
            <div id="imagesCarPreview" class="images-preview">
                {% for picture in car.pictures|filter(picture => not picture.isPrimary) %}
                  <div class="img-container">
                    <img src="{{ asset('assets/img/uploads/' ~ picture.picture) }}" class="car-image-secondary">
                    <button class="cross-btn" data-image-id="{{ picture.id }}">❌</button>
                  </div>
                {% endfor %}
            </div>
          </div>
      </div>
      <input type="hidden" id="deletedImages" name="deletedImages" value="">
      <div class="row">
        <div class="d-flex justify-content-around col-md-12">
          <div>
            <button class="btn-stop btn btn-sm">Annuler</button>
          </div>
          <div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('edit-car-form') }}">
            <button id="submitFormButton" type="submit" class="btn-update btn btn-sm">Modifier</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script src="{{ asset('assets/javascript/carImagesValidation.js') }}"></script>
  <script src="{{ asset('assets/javascript/carPreview.js') }}"></script>
  <script src="{{ asset('assets/javascript/carUpdate.js') }}"></script>
{% endblock %}